.carousel-image {
  width: 30%;
  height: auto;
}

.alternate-content {
  display: none;
}

.card.hoverable-card:hover .alternate-content {
  display: block;
}

.carousal-card {
  width: 250px; /* Set a fixed width for all cards */
  height: 350px; /* Set a fixed height for all cards */
}

.card-img-top {
  max-width: 13rem;
  height: 2rem;
}

.card-body>* {
  line-height: 1.2rem;
}

.card .details {
  display: none;
}

.card:hover .details {
  display: block;
}

.alternate-content {
  display: none;
  position: absolute;
  z-index: 1;
  background: white;
  padding: 1.3rem;
  width: 120%;
  height: 120%;
  top: -2rem;
  left: 0;
  opacity: 0;
  border: 1px solid lightgray;
  font-size: 0.9rem;
}

.card.hoverable-card:hover .alternate-content {
  opacity: 1;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousal-holder {
  width: 90%;
  margin: auto;
}

.card.hoverable-card img {
  width: 50%;
  height: 7rem;
}
